# Unreal Engine
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Plugins/*/Binaries/
Plugins/*/Intermediate/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vs/
.vscode/
.idea/

# Builds locais
build/
